.login-section{
    background-color: #DADCFB;
    /* height: 30rem; */
}

.login-section-cart{
    height:30rem;
}

.cart-login{
    background-color: white;
    height:20rem;
    width:40%;
    border-radius: 2rem;
    box-shadow: .3rem .2rem .2rem;
}

@media (max-width:700px) {
    
    .cart-login{
        
        width:70%;
    }

}